.myService{
    height: auto;
    background: var(--color-text-blue);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 3rem 2rem;
}

@media screen and (min-width:1024px) {
    .myService{
        /* margin-top: 64px; */
        height: 400px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1240px) {
    .groupImage {
      flex-wrap: wrap;
    }
  }