@font-face {
  font-family: "opensans";
  src: url('../src/assets/Fonts/OpenSans-Regular.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'opensans';
  src: url('../src/assets/Fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'praxisregular';
  src: url('../src/assets/Fonts/Praxis-LT-Regular.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'praxisregular';
  src: url('../src/assets/Fonts/Praxis-LT-Bold.ttf');
  font-weight:700;
}
@font-face {
  font-family: 'Frutiger';
  src: url('../src/assets/Fonts/Frutiger-LT-Arabic/65-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Frutiger';
  src: url('../src/assets/Fonts/Frutiger-LT-Arabic-55-Roman.ttf');
  font-weight: 500;
}

body {
  margin: 0;
  font-family: "opensans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 [dir='rtl'] *{
  margin: 0;
  font-family: "Frutiger", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}